<GridLayout class="page" [class.dialogOpen]="dialogOpen">
    <StackLayout class="content">
<DockLayout>
    <StackLayout class="outer2" dock="Bottom">
        <Label class="line2"></Label>

        <GridLayout columns="*,*,*,*"  rows="auto, 52" >

            <GridLayout [nsRouterLink]="['/lectures']" pageTransition="none" col="0" class="g" rows="*,*">
                <Image col="0" row="0" class="icon" src="res://home"></Image>
                <Label class="menu-text"  row="1" col="0" text="홈"></Label>

            </GridLayout>
            <GridLayout  [nsRouterLink]="['/ranking']" pageTransition="none" col="1" class="g" rows="*,*">
                <Image col="0" row="0" class="icon" src="res://search"></Image>
                <Label class="menu-text"   row="1" col="0" text="랭킹 검색"></Label>

            </GridLayout>

            <GridLayout [nsRouterLink]="['/class']" pageTransition="none" col="2" class="g" rows="*,*">
                <Image col="0" row="0" class="icon" src="res://menu_selected"></Image>
                <Label class="menu-text-selected"  row="1" col="0" text="클래스"></Label>

            </GridLayout>
            <GridLayout [nsRouterLink]="['/my-page']" pageTransition="none" col="3" class="g" rows="*,*">
                <Image col="0" row="0" class="icon" src="res://mypage"></Image>
                <Label class="menu-text"  row="1" col="0" text="마이"></Label>

            </GridLayout>

        </GridLayout>
    </StackLayout>


<StackLayout dock="top" orientation="vertical">
    <Label dock="top" class="title" text="클래스"> </Label>
    <StackLayout class="outer-tab">


        <Tabs>
            <TabStrip class="test">
                <TabStripItem class="test">
                    <Label class="tab-name" text="전체 클래스"></Label>
                </TabStripItem>
                <TabStripItem>
                    <Label  class="tab-name" text="내 클래스"></Label>
                </TabStripItem>

            </TabStrip>

            <TabContentItem>

                    <StackLayout class="tab1" >
                        <GridLayout width="100%" height="100%" columns="*">
                        <ListView col="0" class="list" [items]="allClasses" (itemLoading)="itemloading($event)" (loadMoreItems)="loadMoreItems()">
                            <ng-template let-item="item" let-i="index">
                                <StackLayout class="outer" [idx]="item['classIdx']" (tap)="itemClick($event)">
                                    <label class="upper-line"></label>

                                    <WrapLayout class="wrap" orientation="horizontal">
                                        <Label class="tag"  *ngFor="let tag of item['tags']" [text]="tag"></Label >

                                    </WrapLayout>

                                    <GridLayout class="grid" columns="*, 95">

                                        <StackLayout row="0" col="0" orientation="vertical">
                                            <Label class="className" [text]= "item['className']"></Label>
                                            <Label class="member" [text]= "item['memberCount']"></Label>
                                        </StackLayout>
                                        <Image row="0" col="1" class="thumb" [src]="item['thumbUrl']" stretch="aspectFill"></Image>
                                    </GridLayout>
                                    <label class="line"></label>
                                    <Button class="button" text="참가하기"></Button>

                                </StackLayout>
                            </ng-template>
                        </ListView>


                            <ActivityIndicator col="0" [busy]="isBusy" color="#1c7ced" width="100" height="100"></ActivityIndicator>
                        </GridLayout>

                    </StackLayout>

            </TabContentItem>

            <TabContentItem>

                <StackLayout class="tab1" >

                    <ListView class="list" [ngClass]="{'visible': login, 'invisible': !login}" [items]="allClasses2"  (loadMoreItems)="loadMoreItems()">
                        <ng-template let-item="item" let-i="index">
                            <StackLayout class="outer" [idx]="item['classIdx']" (tap)="itemClick($event)">
                                <label class="upper-line"></label>

                                <WrapLayout class="wrap" orientation="horizontal">
                                    <Label class="tag"  *ngFor="let tag of item['tags']" [text]="tag"></Label >

                                </WrapLayout>

                                <GridLayout class="grid" columns="*, 95">

                                    <StackLayout row="0" col="0" orientation="vertical">
                                        <Label class="className" [text]= "item['className']"></Label>
                                        <Label class="member" [text]= "item['memberCount']"></Label>
                                    </StackLayout>
                                    <Image row="0" col="1" class="thumb" [src]="item['thumbUrl']" stretch="aspectFill"></Image>
                                </GridLayout>
                                <label class="line"></label>
                                <Label class="button" text="입장하기"></Label>

                            </StackLayout>
                        </ng-template>
                    </ListView>
                    <Label [ngClass]="{'visible1': !login, 'invisible1': login}" [text]="message"> </Label>



                </StackLayout>


            </TabContentItem>

        </Tabs>
    </StackLayout>
</StackLayout>



</DockLayout>

    </StackLayout>


        <AbsoluteLayout class="dialog-wrapper">
            <StackLayout class="dialog">
                <Label class="text" textWrap="true" text="준비중인 서비스입니다 :)"></Label>
                <Button class="btn" text="확인" (tap)="closeDialog()"></Button>
            </StackLayout>
        </AbsoluteLayout>


</GridLayout>

