
<DockLayout>
    <GridLayout class="btnav" columns="*,*,*,*,*" rows="52" dock="Bottom">
        <Label [nsRouterLink]="['/lectures']" pageTransition="none" row="0" col="0" text="홈"></Label>
        <Label [nsRouterLink]="['/ranking']" pageTransition="none" row="0" col="1" text="랭킹"></Label>
        <Label [nsRouterLink]="['/recommend']" pageTransition="none" row="0" col="2" text="추천"></Label>
        <Label [nsRouterLink]="['/class']" pageTransition="none" row="0" col="3" text="클래스"></Label>
        <Label [nsRouterLink]="['/my-page']" pageTransition="none" row="0" col="4" text="마이페이지"></Label>
    </GridLayout>


<StackLayout dock="top" orientation="vertical">
    <Label dock="top" class="title" text="클래스"> </Label>
    <StackLayout class="outer-tab">


        <Tabs>
            <TabStrip class="test">
                <TabStripItem class="test">
                    <Label class="tab-name" text="전체 클래스"></Label>
                </TabStripItem>
                <TabStripItem>
                    <Label  class="tab-name" text="내 클래스"></Label>
                </TabStripItem>

            </TabStrip>

            <TabContentItem>

                    <StackLayout class="tab1" >

                        <ListView class="list" [items]="allClasses"  (loadMoreItems)="loadMoreItems()">
                            <ng-template let-item="item" let-i="index">
                                <StackLayout class="outer" [idx]="item['classIdx']" (tap)="itemClick($event)">
                                    <label class="upper-line"></label>

                                    <WrapLayout class="wrap" orientation="horizontal">
                                        <Label class="tag"  *ngFor="let tag of item['tags']" [text]="tag"></Label >

                                    </WrapLayout>

                                    <GridLayout class="grid" columns="*, 95">

                                        <StackLayout row="0" col="0" orientation="vertical">
                                            <Label class="className" [text]= "item['className']"></Label>
                                            <Label class="member" [text]= "item['memberCount']"></Label>
                                        </StackLayout>
                                        <Image row="0" col="1" class="thumb" [src]="item['thumbUrl']" stretch="aspectFill"></Image>
                                    </GridLayout>
                                    <label class="line"></label>
                                    <Label class="button" text="참가하기"></Label>

                                </StackLayout>
                            </ng-template>
                        </ListView>



                    </StackLayout>

            </TabContentItem>

            <TabContentItem>

                <StackLayout class="tab1" >

                    <ListView class="list" [items]="allClasses2"  (loadMoreItems)="loadMoreItems()">
                        <ng-template let-item="item" let-i="index">
                            <StackLayout class="outer" [idx]="item['classIdx']" (tap)="itemClick($event)">
                                <label class="upper-line"></label>

                                <WrapLayout class="wrap" orientation="horizontal">
                                    <Label class="tag"  *ngFor="let tag of item['tags']" [text]="tag"></Label >

                                </WrapLayout>

                                <GridLayout class="grid" columns="*, 95">

                                    <StackLayout row="0" col="0" orientation="vertical">
                                        <Label class="className" [text]= "item['className']"></Label>
                                        <Label class="member" [text]= "item['memberCount']"></Label>
                                    </StackLayout>
                                    <Image row="0" col="1" class="thumb" [src]="item['thumbUrl']" stretch="aspectFill"></Image>
                                </GridLayout>
                                <label class="line"></label>
                                <Label class="button" text="입장하기"></Label>

                            </StackLayout>
                        </ng-template>
                    </ListView>



                </StackLayout>


            </TabContentItem>

        </Tabs>
    </StackLayout>
</StackLayout>



</DockLayout>
