

.title{

    margin-bottom: 15;
    height: 25;
    font-size: 17;
    font-weight: bold;
    text-align: center;
    font-family:NotoSansCJKkr-Medium;
    color: #34353a;
    letter-spacing: 0;
    margin-top: 10;

}



.tab-name{
    font-size: 17;
    font-family: NotoSansCJKkr;
    font-weight: bold;
    color: #1c7ced;
}

.test{

    background-color: transparent;
}

TabStrip {
    highlight-color: #1c7ced;

}

.list {
    width: 100%;
height: 100%;

}

.className{
    font-family: Roboto;
    font-weight: bold;
    font-size: 16;
    color: #34353a;
}

.member{
    font-family: NotoSansCJKkr;
    font-size: 14;
    color: #1c7ced;
}

.button{
    width: 100%;
    font-size: 14;
    color: #333333;
    font-weight: bold;
    text-align: center;
    height: 35;

    border-top-style: solid;
}

.thumb{
    width: 95;
    height: 95;
    border-radius: 3;
}

.tag{
    color: #efefef;
    font-size: 14;
    font-family: Roboto;
    font-weight: bold;
    margin-right: 4;
    background-color: #1c7ced;
    padding-top: 7;
    padding-bottom: 4;
    padding-left: 15;
    padding-right: 15;
    border-radius: 14;
}


.line{
    width: 100%;
    height: 1;
    background-color: #efefef;
    margin-top: 25;
}


.upper-line{
    background-color: #f3f5f9;
    height: 10;
}

.wrap{
    margin-top: 12;
    margin-left: 5;
}


.icon{
    width: 24;
    height: 24;
}


.menu-text{
    font-size: 13;
    font-family: NotoSansCJKkr;
    color: #e6e6e6;
}

.menu-text-selected{
    font-size: 13;
    font-family: NotoSansCJKkr;
    color: #1c7ced;
}

.g{
    text-align: center;
    padding-top: 7;
}

.line{
    width: 100%;
    height: 1;
    background-color: #e6e6e6;
    margin-bottom: 15;
}
.outer{
    height: 60;

}
