
.btnav{
    background-color: darkkhaki;
}


.rank{
    height: 130;
    border-radius: 5;

}
.title{
    margin-left: 16;
    margin-bottom: 15;
    height: 20;
    font-size: 14;
    line-height:12;
    alignment:left;
    font-family:NotoSansCJKkr-Medium;
    color: #34353a;
    letter-spacing: 0;

}

.card{
   padding-left: -16;
    margin-bottom:15;
}

.site{
    size:12;
    font-family:Helvetica;
    line-height:12;
    color: #4D4D4D;

}

.lecName{
    font-family: NotoSansCJKkr-Medium;
    font-size: 10;
    line-height: 12;
    color: #4D4D4D;

}


.rec{
    margin-right:4;
    margin-left:4;
    width: 168;
    height: 240;
}

.rec-img{
    width: 168;
    height: 189;
    border-radius: 5;
    margin-bottom: 8;
}

.searchBt{
    width: 65;
    height: 23;
    font-size: 8;
    color: #34353a;
    border-radius: 80;
    outline-color: #34353a;
    border-width: 1;
    text-align: center;
    text-align-all: center;
    margin-top: -5;

}

.top{
    margin: 16;
    border-radius: 80;
    border-color: #999999;
    outline-color: #999999;
    border-width: 1;
}

.searchword{
    color: #999999;
    font-size: 13;
    border-bottom-color: transparent;
    alignment: bottom;
    margin-bottom: 3;

}

.searchIcon{
    alignment: center;
    alignment: center;
    margin-left:10 ;
    margin-top:10;

}
.ad{
    margin-bottom: 15;
    width: 359;
    height: 59;
    background-color: lightgray;
    border-radius: 5;

}
.cards{
    margin-left: 16;
    margin-right: 8;
}

.each-card{
    margin-right: 8;
}

.wrap{
  margin-right: 11;
    margin-left: 11;
}
