<DockLayout>
    <GridLayout class="btnav" columns="*,*,*,*,*" rows="52" dock="Bottom">
        <Label [nsRouterLink]="['/ranking']" row="0" col="0" text="홈"></Label>
        <Label [nsRouterLink]="['/ranking']" row="0" col="1" text="랭킹"></Label>
        <Label [nsRouterLink]="['/recommend']" row="0" col="2" text="추천"></Label>
        <Label [nsRouterLink]="['/favorite']" row="0" col="3" text="즐겨찾기"></Label>
        <Label [nsRouterLink]="['/my-page']" row="0" col="4" text="마이페이지"></Label>
    </GridLayout>


<ScrollView orientation="vertical" class="card">
<stackLayout orientation="vertical" child>
    <Label [nsRouterLink]="['/lectures/search']" class="searchBt" ></Label>

    <Label text="프로그램 주제별 랭킹" class="title" horizontalAlignment="left" fontAttributes="Bold"></Label>
<ScrollView orientation="horizontal" class="card">
<StackLayout orientation="horizontal">

    <StackLayout  *ngFor="let lecture of allLectures" orientation="vertical" width="100" margin="4">
        <Image class="rank" src="https://www.nativescript.org/images/default-source/Blogs/ns-logo_share_600x315.png"   stretch="aspectFill"></Image>
    <Label class="site" [text]="lecture['siteName']"></Label >
        <Label class="lecName" [text]="lecture['lectureName']"></Label >

    </StackLayout>


</StackLayout>
</ScrollView>

    <Label text="오늘의 추천 컨텐츠"  class="title" horizontalAlignment="left" fontAttributes="Bold" textWrap="true" ></Label>

</stackLayout>
</ScrollView>
</DockLayout>
