<GridLayout rows="*">
    <RadSideDrawer drawerLocation="Bottom" drawerContentSize="700">
        <StackLayout tkDrawerContent>
            <StackLayout style="text-align: center; vertical-align: center;">
                <Label text="Navigation Menu"></Label>
            </StackLayout>
            <StackLayout>
                <Label text="Primary" padding="10"
                       backgroundColor="lightgray"></Label>
                <Label text="Social" padding="10"></Label>
                <Label text="Promotions" padding="10"></Label>
                <Label text="Labels" padding="10" backgroundColor="lightgray">
                </Label>
                <Label text="Important" padding="10"></Label>
                <Label text="Starred" padding="10"></Label>
                <Label text="Sent Mail" padding="10"></Label>
                <Label text="Drafts" padding="10"></Label>
            </StackLayout>
            <Label text="Close" color="lightgray" padding="10"
                   style="horizontal-align: center" (tap)="onCloseDrawerTap()">
            </Label>
        </StackLayout>
        <DockLayout tkMainContent stretchLastChild="true">

            <Image  src="~/assets/codeIngLogo.png" stretch="aspectFill" dock="Top"></Image>

            <GridLayout class="top" columns="40, *, 40", rows="40" dock="Top">
                <Label row="0" col="0" class="fas h2 searchIcon" text ="&#xf002;"> </Label>
                <TextField class="searchword"  row="0" col="1" hint="Frontend" returnKeyType="go" (returnPress)="performSearch($event)" [(ngModel)]="searchword"></TextField>
                <Label row="0" col="2" class="fas h2 searchIcon" text ="&#xf0b0;" (tap)="onOpenDrawerTap()"> </Label>
            </GridLayout>
            <ListView [items]="lectures" (itemTap)="onItemTap($event)"  (loadMoreItems)="loadMoreItems()">
                <ng-template let-item="item" let-i="index">
                    <GridLayout class="grid" columns="73, *, 105" rows="80">
                        <Image row="0" col="0" class="rank" [src]="item['thumbUrl']" stretch="aspectFill"></Image>
                        <StackLayout row="0" col="1" orientation="vertical">
                            <Label class="siteName" [text]= "item['siteName']" (tap)="onOpenDrawerTap()"></Label>
                            <Label class="lecName" [text]= "item['lectureName']"></Label>
                            <Label class="price" [text]= "item['price']"></Label>
                        </StackLayout>
                        <StackLayout row="0" col="2" orientation="vertical">
                        <StackLayout orientation="horizontal" width="130">
                            <Label *ngFor="let rate of [1,2,3,4,5]" class="fas" text ="&#xf005;" [ngClass]="{'yellow': item['rating'] > rate, 'default': item['rating'] <= rate}"> </Label>
                        </StackLayout>
                            <Label class="searchBt" text="VIEW Details" >
                            </Label>
                            </StackLayout>

                    </GridLayout>
                </ng-template>
            </ListView>
        </DockLayout>
    </RadSideDrawer>




</GridLayout>

