.rank{
    height: 48;
    width: 48;
    border-radius: 50;

}

.yellow{
    color: #ffc30f;
    margin-right: -8;



}

.yellow2{
    color: #ffc30f;
    font-size: 40;


}

.default2{
    color: #efefef;
    font-size: 40;

}

.default{
    color: #efefef;
    margin-right: -8;



}

.searchBt{
    width: 65;
    height: 23;
    font-size: 8;
    font-color: #34353a;
    border-radius: 80;
    outline-color: #34353a;
    border-width: 1;
    text-align: center;
    text-align-all: center;
    margin-top: -5;
    font-family: Roboto-M;

}

.siteName{
    margin-bottom: -3;
    font-size: 12;
    color: #4d4d4d;
    font-family: Roboto-M;

}

.lecName{
    margin-top: -3;
    max-bottom: -3;
    font-size: 13;
    color: #34353a;
    font-family: NotoSansCJKkr;
}

.price{
    margin-top: -3;
    font-size: 12;
    color: #999999;
    font-family: Montserrat;
}

.grid{
    padding-top: -2;
    padding-bottom: -2;
}

.top{
    margin: 16;
    border-radius: 80;
    border-color: #f3f5f9;
    outline-color: #f3f5f9;
    border-width: 1;
    margin-top: 25;
}

.searchIcon{
    alignment: center;
    alignment: center;
    margin-left:10 ;
    margin-top:10;
    color: #a6a6a6;

}

.searchword{
    color: #34353a;
    font-size: 14;
    border-bottom-color: transparent;
    alignment: bottom;
    margin-bottom: 3;
    font-weight: bold;

}

.filter{
    color: #1c7ced;
    font-family: NotoSansCJKkr-Medium;
    font-size: 17;
    margin-left: 32;
    margin-bottom: 17;
    font-weight: bold;
}
.title{
    margin-top: 5;
    margin-bottom: 30;
    text-align: center;
    color: #34353a;
    font-family: NotoSansCJKkr-Medium;
    font-size: 17;
    font-weight: bold;
}

.redoChoose{
    font-family: NotoSansCJKkr-Bold;
    font-size: 14;
    color: #333333;
    font-weight: bold;
    text-align: center;
    z-index: 0;


}

.completeChoose{
    font-family: NotoSansCJKkr-Bold;
    font-weight: bold;
    font-size: 14;
    color: #ffffff;
    background-color: #fc8f41;
    border-radius: 3;
    text-align: center;
    height: 80;
    z-index: 0;

}

.drawerBottom{
    margin-bottom: 0;
    margin-right: 22;
    margin-left: 32;
    height: 80;
}

.outerDock{
    color: #f3f5f9;
    border-top-right-radius: 10;
    border-top-left-radius: 10;
}

.slider{
    margin-left: 32;
    background-color: #1c7ced;
    size: 5;
    margin-right: 32;
    color: #1c7ced;
    tab-size: 13;
    font-size: 13;
    background-size: 13;
    mask-size: 13;

}

.cost{
    color: #737373;
    font-family: NotoSansCJKkr-Medium;
    font-size: 14;
    margin-right:30;
}

.cost-last{
    color: #737373;
    font-family: NotoSansCJKkr-Medium;
    font-size: 14;


}
