.rank{
    height: 48;
    width: 48;
    border-radius: 50;

}

.yellow{
    color: #ffc30f;
    margin-right: -8;

}

.yellow2{
    color: #ffc30f;

}

.default2{
    color: #efefef;
}

.default{
    color: #efefef;
    margin-right: -8;
}

.searchBt{
    width: 65;
    height: 23;
    font-size: 8;
    color: #34353a;
    border-radius: 80;
    outline-color: #34353a;
    border-width: 1;
    text-align: center;
    text-align-all: center;
    margin-top: -5;

}

.siteName{
    margin-bottom: -3;
    font-size: 12;
    color: #4d4d4d;
    font-family: Helvetica;
}

.lecName{
    margin-top: -3;
    max-bottom: -3;
    font-size: 13;
    color: #4d4d4d;
    font-family: NotoSansCJKkr-Medium;
}

.price{
    margin-top: -3;
    font-size: 12;
    color: #999999;
    font-family: NotoSansCJKkr-Medium;
}

.grid{
    padding-top: -2;
    padding-bottom: -2;
}

.top{
    margin: 16;
    border-radius: 80;
    border-color: #999999;
    outline-color: #999999;
    border-width: 1;
}

.searchIcon{
    alignment: center;
    alignment: center;
    margin-left:10 ;
    margin-top:10;

}

.searchword{
    color: #999999;
    font-size: 14;
    border-bottom-color: transparent;
    alignment: bottom;
    margin-bottom: 3;

}

.filter{
    color: #efefef;
    font-family: NotoSansCJKkr-Medium;
    font-size: 14;
    margin-left: 32;
    margin-bottom: 17;
}
.title{
    margin-top:30;
    margin-bottom: 30;
    text-align: center;
    color: #ffffff;
    font-family: NotoSansCJKkr-Medium;
    font-size: 15;
}

.redoChoose{
    font-family: NotoSansCJKkr-Bold;
    font-size: 13;
    color: #efefef;
    font-weight: bold;
    text-align: center;


}

.completeChoose{
    font-family: NotoSansCJKkr-Bold;
    font-weight: bold;
    font-size: 13;
    color: #34353a;
    background-color: #efefef;
    border-radius: 29;
    text-align: center;
    height: 80;
}

.drawerBottom{
    margin-bottom: 65;
    margin-right: 22;
    margin-left: 32;
    height: 80;
}

.outerDock{
    background-color: #34353a;
    border-top-right-radius: 10;
    border-top-left-radius: 10;
}

.slider{
    margin-left: 32;
    color: #efefef;
    size: 5;
    margin-right: 32;
    background-color: #efefef;
    tab-size: 13;
    font-size: 13;
    background-size: 13;
    mask-size: 13;

}

.cost{
    color: #efefef;
    font-family: NotoSansCJKkr-Medium;
    font-size: 12;
    margin-right:45;
}

.cost-last{
    color: #efefef;
    font-family: NotoSansCJKkr-Medium;
    font-size: 12;


}
