<GridLayout rows="*">
    <RadSideDrawer drawerLocation="Bottom" [drawerContentSize]="height"  >
        <DockLayout  class="outerDock" tkDrawerContent stretchLastChild="true" >

            <GridLayout class="drawerBottom" columns="2*,3*" rows="52" dock="Bottom">
                <Button class="redoChoose" row="0" col="0" text="필터 초기화" (tap)="onRedoTap()"></Button>
                <Button class="completeChoose" row="0" col="1" text="선택 완료" (tap)="completeCheck()"></Button>
            </GridLayout>
            <StackLayout orientation="vertical" dock="Top">
                <Label class="title" text="강의 검색 필터"></Label>
                <Label class="filter" text="평점"></Label>
                <StackLayout orientation="horizontal" marginLeft="32" marginBottom="36">
                    <Label *ngFor="let rate of [1,2,3,4,5]" class="fas h1 default2" text ="&#xf005;" [ngClass]="{'yellow2': rating >=rate, 'default2':rating < rate }"
                           (tap)="setRatingHighlight(rate)"> </Label>
                </StackLayout>
                <Label class="filter" text="수준"></Label>
                <StackLayout orientation="horizontal" marginLeft="32" marginBottom="36">
                    <Label *ngFor="let rate of [1,2,3,4,5]" class="fas fa-star h1 default2" text ="&#xf005;" [ngClass]="{'yellow2': level >=rate, 'default2':level < rate }"
                           (tap)="setLevelHighlight(rate)"> </Label>
                </StackLayout>
                <Label class="filter" text="가격"></Label>



                <Slider class='slider' minValue="0" maxValue="300000"
                        (valueChange)="onSliderValueChange($event)">
                </Slider>

                <StackLayout orientation="horizontal" marginLeft="34" marginBottom="20">
                    <Label class="cost" text="0만원"></Label>
                    <Label class="cost" text="5만원"></Label>
                    <Label class="cost" text="10만원"></Label>
                    <Label class="cost" text="20만원"></Label>
                    <Label class="cost-last" text="30만원~"></Label>
                </StackLayout>


            </StackLayout>


        </DockLayout>
        <DockLayout tkMainContent stretchLastChild="true">

            <GridLayout class="top" columns="40, *, 40", rows="40" dock="Top">
                <Label row="0" col="0" class="fas h3 searchIcon" text ="&#xf002;"> </Label>
                <TextField class="searchword"  row="0" col="1" hint="Frontend" style.placeholderColor="#A6A6A6" returnKeyType="search" (returnPress)="performSearch()" [(ngModel)]="searchword"></TextField>
                <Label row="0" col="2" class="fas h3 searchIcon" text ="&#xf1de;" (tap)="onOpenDrawerTap()"> </Label>
            </GridLayout>
            <GridLayout width="100%" height="100%" columns="*">
            <ListView (loaded)="onLoaded($event)"  col="0" [items]="lectures"  (loadMoreItems)="loadMoreItems()" (itemLoading)="itemloading($event)">
                <ng-template let-item="item" let-i="index">
                    <GridLayout class="grid" columns="73, *, 115" rows="auto" [idx]="item['lectureIdx']" [order]="i" (tap)="itemClick($event)">
                        <Image row="0" col="0" class="rank" [src]="item['thumbUrl']" stretch="aspectFill"></Image>
                        <StackLayout row="0" col="1" orientation="vertical">
                            <Label class="siteName" [text]= "item['siteName']"></Label>
                            <Label class="lecName" [text]= "item['lectureName']"></Label>
                            <Label class="price" [text]= "item['price']"></Label>
                        </StackLayout>
                        <StackLayout row="0" col="2" orientation="vertical">
                            <StackLayout orientation="horizontal" width="115">
                                <Label *ngFor="let rate of [1,2,3,4,5]" class="fas" text ="&#xf005;" [ngClass]="{'yellow': item['rating'] > rate, 'default': item['rating'] <= rate}"> </Label>
                            </StackLayout>
                            <Label class="searchBt" text="VIEW Details" >
                            </Label>
                        </StackLayout>

                    </GridLayout>
                </ng-template>
            </ListView>
                <ActivityIndicator col="0" [busy]="isBusy" color="#1c7ced" width="100" height="100"></ActivityIndicator>

            </GridLayout>
        </DockLayout>
    </RadSideDrawer>
</GridLayout>
