
.btnav{
    background-color: darkkhaki;
}


.title{
    text-align: center;

    padding-top: 41;
    font-size: 17;
    color: #34353a;
    height: 88;
    background-color: #f9f9f9;
    border-bottom-width: 1;
    border-bottom-color: #999999;
}

.top{
    margin: 16;
    border-radius: 80;
    border-color: #999999;
    outline-color: #999999;
    border-width: 1;
}

.searchword{
    color: #999999;
    font-size: 13;
    border-bottom-color: transparent;
    alignment: bottom;
    margin-bottom: 3;

}

.searchIcon{
    alignment: center;
    alignment: center;
    margin-left:10 ;
    margin-top:10;

}

.rank{
    width: 344;
    height: 189;
    border-radius: 5;
    margin-bottom: 13;
    margin-left: 15;
    margin-right: 15;
}
