<DockLayout>
   <GridLayout class="btnav" columns="*,*,*,*,*" rows="52" dock="Bottom">
      <Label [nsRouterLink]="['/lectures']" pageTransition="none" row="0" col="0" text="홈"></Label>
      <Label [nsRouterLink]="['/ranking']" pageTransition="none" row="0" col="1" text="랭킹"></Label>
      <Label [nsRouterLink]="['/recommend']" pageTransition="none" row="0" col="2" text="추천"></Label>
      <Label [nsRouterLink]="['/favorite']" pageTransition="none" row="0" col="3" text="즐겨찾기"></Label>
      <Label [nsRouterLink]="['/my-page']" pageTransition="none" row="0" col="4" text="마이페이지"></Label>
   </GridLayout>


   <Label class="title" text="오늘의 추천 컨텐츠" dock="Top"></Label>

   <ScrollView orientation="vertical" class="card">
      <StackLayout orientation="vertical">
   <GridLayout class="top" columns="40, *", rows="40" >
      <Label row="0" col="0" class="fas h2 searchIcon" text ="&#xf002;"> </Label>
      <TextField class="searchword"  row="0" col="1" hint="검색어를 입력해주세요" returnKeyType="go"></TextField>
      </GridLayout>


         <Image class="rank" *ngFor="let lecture of recLectures" src="https://www.nativescript.org/images/default-source/Blogs/ns-logo_share_600x315.png"   stretch="aspectFill"></Image>


      </StackLayout>


      </ScrollView>






</DockLayout>
