<DockLayout>
    <Image  dock="Top" class="rank" src="https://firebasestorage.googleapis.com/v0/b/codeing-9f456.appspot.com/o/logo.png?alt=media&token=e63f86e9-dfe1-4454-ad55-af5ebb425b35" stretch="aspectFill"></Image>
<StackLayout dock="Bottom">
    <Label [nsRouterLink]="['/login2']" class="login"  text="로그인"></Label>
    <Label [nsRouterLink]="['/lectures']" class="google-login"  text="비회원으로 이용하기"></Label>
    <Label [nsRouterLink]="['/signup']" class="signup"  text="회원가입"></Label>
</StackLayout>
</DockLayout>
