
    <GridLayout class="page" [class.dialogOpen]="dialogOpen">

        <StackLayout class="content">

            <Image class="ad" src="res://codeing" stretch="aspectFill"></Image>
            <GridLayout columns="auto,*" rows="auto">
                <SVGImage col="0" class="id" src="res://id.svg"></SVGImage>
                <TextField col="1" class="password" hint="아이디" [(ngModel)]="email"
                           style.placeholderColor="#A6A6A6"></TextField>
            </GridLayout>
            <GridLayout columns="auto,*" rows="auto">
                <SVGImage col="0" class="id" src="res://password.svg"></SVGImage>
                <TextField col="1" class="password" hint="비밀번호" [(ngModel)]="password" secure="true"
                           style.placeholderColor="#A6A6A6"></TextField>
            </GridLayout>

            <GridLayout class="grid" columns="auto,auto,auto" rows="auto">
                <Label col="0" class="far h2 fa-check-circle uncheck" text="&#xf058;"
                       [ngClass]="{'check': loginstate , 'uncheck': !loginstate }" (tap)="auto_login()"> </Label>
                <Label col="1" class="loginstatus" text="로그인 상태 유지"></Label>
                <Label col="2" class="find" text="아이디 / 비밀번호 찾기 "></Label>


            </GridLayout>


            <Label class="login" (tap)="login()" text="로그인"></Label>
            <Label [nsRouterLink]="['/lectures/search']" class="google-login" text="구글 아이디로 로그인"></Label>
        </StackLayout>

        <AbsoluteLayout class="dialog-wrapper">
            <StackLayout class="dialog">
                <Label class="text" [text]=alert_message></Label>
                <Button class="btn" text="확인" (tap)="closeDialog()"></Button>
            </StackLayout>
        </AbsoluteLayout>


    </GridLayout>

