.buttons{
    text-align: center;
    child-align: center;
}
.login{
    width: 90%;
    height: 45;
    background-color: #1c7ced;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 16;

    border-radius: 3;
    margin: 6;
    z-index: 0;
}

.google-login{
    width: 90%;
    height: 45;
    color: #1c7ced;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 16;


    border-radius: 3;
    border-color: #1c7ced;
    border-width: 1;
    z-index: 0;
}

.signup{
    width: 345;
    height: 45;
    text-align: center;
    font-size: 14;
    color: #333333;
    text-decoration: underline;
    text-decoration-line: underline;
    text-underline: #333333;
    font-weight: bold;

}

.rank{
    height: 44;
    background-color: lightgray;
    margin-top: 250;
    margin-bottom: 297;
    margin-right: 82;
    margin-left: 82;
    height: 43;
}
