<GridLayout class="page" [class.dialogOpen]="dialogOpen">
<StackLayout class="content">

  <StackLayout class="st" orientation="horizontal">
    <Label class="circle"></Label>
    <Label class="circle"></Label>
    <Label class="blue"></Label>
    <Label class="circle"></Label>
  </StackLayout>


  <Label class="title" text="계정 정보 입력"></Label>
  <Label class="subtitle" text="이메일"></Label>
  <StackLayout orientation="horizontal">
    <TextField class="email" hint="이메일을 입력해 주세요" style.placeholderColor="#A6A6A6" [(ngModel)]="email" ></TextField>
    <Label class="confirm" text="확인" (tap)="confirmEmail($event)" [ngClass]="{'confirm': email.length == 0 , 'written': email.length > 0}"></Label>
  </StackLayout>

  <Label class="subtitle" text="닉네임"></Label>
  <TextField class="name" hint="닉네임을 입력해 주세요" style.placeholderColor="#A6A6A6" [(ngModel)]="nickname" ></TextField>
  <Label class="subtitle" text="비밀번호"></Label>
  <TextField class="name" hint="비밀번호를 입력해주세요"  secure="true" style.placeholderColor="#A6A6A6" [(ngModel)]="password"> </TextField>
  <Label class="subtitle" text="비밀번호 확인"></Label>
  <TextField class="name" hint="위의 비밀번호를 한번 더 입력해주세요" secure="true" style.placeholderColor="#A6A6A6" [(ngModel)]="passwordConfirm"></TextField>



  <Label (tap)="submit()" class="next"  text="회원가입"></Label>






</StackLayout>



  <AbsoluteLayout class="dialog-wrapper">
    <StackLayout class="dialog">
      <Label class="text" textWrap="true" [text]=alert_message></Label>
      <Button class="btn" text="확인" (tap)="closeDialog()"></Button>
    </StackLayout>
  </AbsoluteLayout>


</GridLayout>
