<GridLayout class="page" [class.dialogOpen]="dialogOpen">
    <StackLayout class="content">
<Page>
<StackLayout orientation="vertical">
    <DockLayout class="dock" stretchLastChild="false">
        <Label dock="left" class="fas h2 back" (tap)="goBack()" text ="&#xf053;"> </Label>
        <Label dock="right" class="fas h2 heart" text ="&#xf004;" (tap)="changeLike()" [ngClass]="{'visible': likeState, 'invisible': !likeState}"> </Label>
        <Label dock="right" class="far h2 heart2" text ="&#xf004;" (tap)="changeLike()" [ngClass]="{'visible': !likeState, 'invisible': likeState}" > </Label>

    </DockLayout>
    <StackLayout >
        <Label  textWrap="true" class="title" [text]="info['lectureName']"></Label>
        <StackLayout [ngClass]="{'visible': !scrollState, 'invisible': scrollState}" id="stack">
            <Label  textWrap="true" class="subtitle" text="Pass the AWS Solutions Architect Associate Certification SAA-C02. Complete Amazon Web Services Cloud training!"></Label>
            <Image  class="thumb" [src]="info['thumbUrl']" stretch="aspectFill"></Image>

        <DockLayout class="dock2" stretchLastChild="false">
            <Label dock="right" class="rating-text" [text]="info['rating']"> </Label>
            <Label dock="right" class="fas star" text ="&#xf005;"> </Label>


        </DockLayout>

        <Label class="cost" [text]="info['price']"></Label>
        </StackLayout>

    </StackLayout>

    <StackLayout (swipe)="please($event)" class="outer-tab">

        <Tabs (swipe)="please($event)" >
            <TabStrip class="test">
                <TabStripItem class="test">
                    <Label class="tab-name" text="강의정보"></Label>
                </TabStripItem>
                <TabStripItem>
                    <Label  class="tab-name" text="후기"></Label>
                </TabStripItem>
                <TabStripItem>
                    <Label  class="tab-name" text="Q&A"></Label>
                </TabStripItem>
            </TabStrip>

            <TabContentItem>
                <ScrollView (swipe)="please($event)" orientation="vertical">
                    <DockLayout>
                        <DockLayout dock="Bottom" class="bottom-button" stretchLastChild="false">
                            <Button class="cost2"  dock="left" [text]="info['price']"></Button>
                            <Button (tap)="go()" class="goToLink" dock="right" text="강의 보러 가기" ></Button>
                        </DockLayout>

                <StackLayout dock="Top" class="tab1" >
                    <Label text="무엇을 배우게 되나요?" class="info-title"> </Label>
                    <Label textWrap="true" class="content"  text="✔️ Fully Updated for SAA-CO2: Pass the AWS      Certified Solutins Architect Associate Certification"></Label>
                    <Label textWrap="true"  class="content" text="✔️All 600+ slides available as downloadable PDF"></Label>
                    <Label textWrap="true" class="content" text="✔️ Perform Real-World Solution Architecture on AWS"></Label>
                    <Label textWrap="true" class="content" text="✔️ Learn the AWS Fundamentals (EC2, ELB, RDS, ElastiCache, S3)"></Label>
                    <Label text="설명" class="info-title"> </Label>
                    <Label class="content" textWrap="true"  text="Welcome! I’m here to help you prepare and PASS the newest AWS Certified Solutions Architect Associate exam."></Label>
                    <Label text="요구사항" class="info-title"> </Label>
                    <Label class="content" textWrap="true"  text="Welcome! I’m here to help you prepare and PASS the newest AWS Certified Solutions Architect Associate exam."></Label>

                </StackLayout>
                    </DockLayout>
                </ScrollView>
            </TabContentItem>

            <TabContentItem >

                <DockLayout (swipe)="please($event)">
                        <Button class="writeQna" (onTap)="buttonClick()" text="후기 작성하기" dock="bottom"> </Button>
                    <ListView (swipe)="please($event)"  dock=Top [items]="review" (itemTap)="onItemTap($event)"  (loadMoreItems)="loadMoreItems()">
                        <ng-template let-item="item" let-i="index">
                                <StackLayout class="left" orientation="vertical">
                                    <StackLayout orientation="horizontal">
                                    <Label class="nickname" [text]= "item['nickname']"></Label>
                                        <StackLayout class="ff" orientation="horizontal">
                                            <Label *ngFor="let rate of [1,2,3,4,5]" class="fas" text ="&#xf005;" [ngClass]="{'yellow': item['totalRating'] >= rate, 'default': item['totalRating'] < rate}"> </Label>
                                    </StackLayout>
                                    <Label class="time" [text]= "item['createdAt']"></Label>
                                </StackLayout>
                                    <Label class="review-content" [text]= "item['improvement']"></Label>
                            </StackLayout>
                        </ng-template>
                    </ListView>
                    <Label dock="Top" [ngClass]="{'visible1': !content2, 'invisible1': content2}" text="글 목록이 없습니다."> </Label>
                </DockLayout>
            </TabContentItem>
            <TabContentItem >

                <DockLayout (swipe)="please($event)" stretchLastChild="true" (swipe)="please($event)">
                   <Button class="writeQna" text="질문 작성하기" (onTap)="buttonClick()" dock="bottom"> </Button>


                    <ListView (swipe)="please($event)" dock=Top [items]="qnas" (itemTap)="onItemTap($event)"  (loadMoreItems)="loadMoreItems()">
                        <ng-template let-item="item" let-i="index">
                            <GridLayout columns="*,auto"  class="item-dock">
                                <StackLayout col="0" class="left" orientation="vertical">
                                    <Label class="nickname" [text]= "item['qnaTitle']"></Label>
                                    <Label class="qnaDes" [text]= "item['qnaDes']"></Label>
                                </StackLayout>

                                <StackLayout col="1" class="right" orientation="vertical">
                                    <Label class="time" [text]= "item['createdAt']"></Label>
                                    <Label class="likesCount" [text]= "item['likesCount']"></Label>
                                </StackLayout>

                            </GridLayout>
                        </ng-template>
                    </ListView>
                    <Label dock="Top" [ngClass]="{'visible1': !content2, 'invisible1': content2}" text="글 목록이 없습니다."> </Label>

                </DockLayout>

            </TabContentItem>
        </Tabs>
    </StackLayout>
</StackLayout>
</Page>
    </StackLayout>



    <AbsoluteLayout class="dialog-wrapper">
        <StackLayout class="dialog">
            <Label class="text" textWrap="true" text="준비중인 서비스입니다 :)"></Label>
            <Button class="btn" text="확인" (tap)="closeDialog()"></Button>
        </StackLayout>
    </AbsoluteLayout>
</GridLayout>
