<DockLayout>

    <StackLayout dock="top" orientation="vertical">
        <Label class="title" text="클래스"> </Label>
        <StackLayout class="outer-tab">

            <Tabs>
                <TabStrip class="test">
                    <TabStripItem class="test">
                        <Label class="tab-name" text="전체 클래스"></Label>
                    </TabStripItem>
                    <TabStripItem>
                        <Label  class="tab-name" text="내 클래스"></Label>
                    </TabStripItem>

                </TabStrip>



                <TabContentItem>
                    <StackLayout class="tab1" >
                        <ListView>class</ListView>


                    </StackLayout>
                </TabContentItem>


                <TabContentItem>
                    <StackLayout class="tab1" >

                        <Label text="하앟아항하ㅏ항하"></Label>
                    </StackLayout>
                </TabContentItem>
            </Tabs>


        </StackLayout>
    </StackLayout>









    <StackLayout class="outer"  stretchLastChild="true" dock="Bottom">
        <Label class="line"></Label>

        <GridLayout columns="*,*,*,*"  rows="auto, 52" >

            <GridLayout [nsRouterLink]="['/lectures']" pageTransition="none" col="0" class="g" rows="*,*">
                <SVGImage col="0" row="0" class="icon" src="res://home.svg"></SVGImage>
                <Label class="menu-text"  row="1" col="0" text="홈"></Label>

            </GridLayout>
            <GridLayout  [nsRouterLink]="['/ranking']" pageTransition="none" col="1" class="g" rows="*,*">
                <SVGImage col="0" row="0" class="icon" src="res://search.svg"></SVGImage>
                <Label class="menu-text"   row="1" col="0" text="랭킹 검색"></Label>

            </GridLayout>

            <GridLayout [nsRouterLink]="['/class']" pageTransition="none" col="2" class="g" rows="*,*">
                <SVGImage col="0" row="0" class="icon" src="res://menu_selected.svg"></SVGImage>
                <Label class="menu-text-selected"  row="1" col="0" text="클래스"></Label>

            </GridLayout>
            <GridLayout [nsRouterLink]="['/my-page']" pageTransition="none" col="3" class="g" rows="*,*">
                <SVGImage col="0" row="0" class="icon" src="res://id2.svg"></SVGImage>
                <Label class="menu-text"  row="1" col="0" text="마이"></Label>

            </GridLayout>

        </GridLayout>
    </StackLayout>












</DockLayout>
