<DockLayout>
   <DockLayout dock="Top" class="dock" stretchLastChild="true">
         <Label dock="left" class="fas h2 back" text ="&#xf053;"> </Label>
         <Label dock="right" class="title" text="나의 관심 강의" > </Label>
      </DockLayout>



   <ListView dock="Top" [items]="lectures" (loadMoreItems)="loadMoreItems()" >
      <ng-template let-item="item" let-i="index">
         <DockLayout stretchLastChild="true" [idx]="item['lectureIdx']" (tap)="itemClick($event)">
            <Image dock="Left" class="thumb" [src]="item['thumbUrl']" stretch="aspectFill"></Image>

            <StackLayout dock="Right" orinetation="horizontal">
               <Label class="siteName" [text]="item['siteinfo']['siteName']"></Label>
               <Label class="lectureName" [text]="item['lectureName']" ></Label>
            </StackLayout>

         </DockLayout>
      </ng-template>
   </ListView>




</DockLayout>
