<StackLayout>
    <DockLayout class="dock" stretchLastChild="true" >
        <Label dock="left" class="fas h2 back" text ="&#xf053;"> </Label>
        <Label dock="right" class="title" text ="회원정보 수정"> </Label>
    </DockLayout>

    <ScrollView>
        <StackLayout>
    <Label class="subtitle" text="이메일" ></Label>
    <Label class="name2" [text]="email" ></Label>

    <Label class="subtitle" text="비밀번호"></Label>
    <TextField class="name" hint="비밀번호를 입력해주세요"  secure="true" style.placeholderColor="#A6A6A6" [(ngModel)]="password"> </TextField>
    <Label class="subtitle" text="비밀번호 확인"></Label>
    <TextField class="name" hint="위의 비밀번호를 한번 더 입력해주세요" secure="true" style.placeholderColor="#A6A6A6" [(ngModel)]="passwordConfirm"></TextField>

    <Label class="subtitle" text="이름"></Label>
    <TextField col="1" class="name" [hint]="name" style.placeholderColor="#4D4D4D" ></TextField>
    <Label class="subtitle" text="닉네임"></Label>
    <TextField col="1" class="name" [hint]="nickname" style.placeholderColor="#4D4D4D"></TextField>

    <Label class="subtitle" text="전화번호"></Label>
    <TextField col="1" class="name" [hint]="phonenumber" style.placeholderColor="#4D4D4D"></TextField>



    <Label (tap)="modify()" class="next"  text="수정하기"></Label>
        </StackLayout>
    </ScrollView>
</StackLayout>



