
.btnav{
    background-color: darkkhaki;
}


.rank{
    height: 130;
    border-radius: 5;

}
.title{

    margin-bottom: 15;
    height: 20;
    font-size: 14;
    line-height:12;
    alignment:left;
    font-family:NotoSansCJKkr-Medium;
    color: #34353a;
    letter-spacing: 0;

}

.card{
    margin-bottom:15;
}

.site{
    size:12;
    font-family:Helvetica;
    line-height:12;
    color: #4D4D4D;

}

.lecName{
    font-family: NotoSansCJKkr-Medium;
    font-size: 10;
    line-height: 12;
    color: #4D4D4D;

}

.searchBt{
    width: 344;
    height: 35;
    font-size: 8;
    color: #34353a;
    border-radius: 80;
    outline-color: #34353a;
    border-width: 1;
    text-align: center;
    text-align-all: center;
    margin-top: -5;
    margin-bottom: 30;

}
