<DockLayout>
   <GridLayout class="btnav" columns="*,*,*,*,*" rows="52" dock="Bottom">
      <Label [nsRouterLink]="['/lectures']" pageTransition="none" row="0" col="0" text="홈"></Label>
      <Label [nsRouterLink]="['/ranking']" pageTransition="none" row="0" col="1" text="랭킹"></Label>
      <Label [nsRouterLink]="['/recommend']" pageTransition="none" row="0" col="2" text="추천"></Label>
      <Label [nsRouterLink]="['/favorite']" pageTransition="none" row="0" col="3" text="클래"></Label>
      <Label [nsRouterLink]="['/my-page']" pageTransition="none" row="0" col="4" text="마이페이지"></Label>
   </GridLayout>

   <StackLayout class="stack-outer" dock="Top">
      <Label class="title" text="프로필"></Label>
      <Label class="underline"> </Label>
      <Label class="text" textWrap="true" text="관심 언어와 분야를 설정해주세요. 더 많은 정보를 얻을 수 있습니다."> </Label>
      <Label class="btn" text="설정하기"></Label>
      <Label class="empty"></Label>

      <GridLayout class="grid" columns="23,*" rows="auto,auto">
         <Label  col="0" row="0" class="icon" text ="&#xf058;"> </Label>
         <Label col="1" row="0" class="name" text="나의 관심 강의"></Label>
         <Label  col="0" row="1" class="icon" text ="&#xf058;"> </Label>
         <Label col="1" row="1" class="name" text="내 리뷰 관리"></Label>


      </GridLayout>






      </GridLayout>




   </StackLayout>



</DockLayout>
