<DockLayout>

   <StackLayout class="outer" dock="Bottom">
      <Label class="line"></Label>
      <GridLayout columns="*,*,*,*"  rows="auto, 52" >

         <GridLayout [nsRouterLink]="['/lectures']" pageTransition="none" col="0" class="g" rows="*,*">
            <SVGImage col="0" row="0" class="icon" src="res://home.svg"></SVGImage>
            <Label class="menu-text"  row="1" col="0" text="홈"></Label>

         </GridLayout>
         <GridLayout  [nsRouterLink]="['/ranking']" pageTransition="none" col="1" class="g" rows="*,*">
            <SVGImage col="0" row="0" class="icon" src="res://search.svg"></SVGImage>
            <Label class="menu-text"   row="1" col="0" text="랭킹 검색"></Label>
         </GridLayout>

         <GridLayout [nsRouterLink]="['/class']" pageTransition="none" col="2" class="g" rows="*,*">
            <SVGImage col="0" row="0" class="icon" src="res://menu.svg"></SVGImage>
            <Label class="menu-text"  row="1" col="0" text="클래스"></Label>

         </GridLayout>
         <GridLayout [nsRouterLink]="['/my-page']" pageTransition="none" col="3" class="g" rows="*,*">
            <SVGImage col="0" row="0" class="icon" src="res://id2_selected.svg"></SVGImage>
            <Label class="menu-text-selected"  row="1" col="0" text="마이"></Label>

         </GridLayout>

      </GridLayout>
   </StackLayout>



   <StackLayout  dock="Top">
      <StackLayout [ngClass]="{'stack-outer-no': !setting , 'stack-outer-yes': setting}">
         <Label class="title" text="프로필"></Label>
         <Label class="underline"> </Label>
         <Label class="text" textWrap="true" text="관심 언어와 분야를 설정해주세요. 더 많은 정보를 얻을 수 있습니다."> </Label>
         <Label class="btn" text="설정하기"></Label>
      </StackLayout>

      <StackLayout [ngClass]="{'stack-outer-no': setting , 'stack-outer-yes': !setting}">
         <Label  class="title" text="프로필"></Label>
         <Label class="underline2"> </Label>
         <Label  (tap)="next()" class="modify" text="수정하기"></Label>
         <Label class="nickname" [text]=nickname></Label>
         <StackLayout orientation="horizontal">
            <Label class="level" text="회원님의 현재 레벨: "></Label>
            <Label class="level2" [text]=level></Label>
         </StackLayout>

         <WrapLayout class="wrap" orientation="horizontal">
            <Label  *ngFor="let category of interest" [text]="category" class="w" ></Label >

         </WrapLayout>

      </StackLayout>



      <Label class="empty"></Label>

      <StackLayout orientation="horizontal" class="blank">
         <Label  class="far h2 fa-check-circle check" text ="&#xf058;"> </Label>
         <Label  class="name" text="나의 관심 강의" (tap)="fav_lecture()"></Label>
      </StackLayout>
      <Label class="empty2"></Label>


      <StackLayout orientation="horizontal" class="blank">
         <Label  class="far h2 fa-check-circle check" text ="&#xf058;"> </Label>
         <Label  class="name" text="내 리뷰 관리"></Label>
      </StackLayout>
      <Label class="empty"></Label>
      <StackLayout orientation="horizontal" class="blank">
         <Label  class="far h2 fa-check-circle check" text ="&#xf058;"> </Label>
         <Label  class="name" text="회원 정보 수정" (tap)="personalinfo()"></Label>
      </StackLayout>
      <Label class="empty2"></Label>

      <StackLayout orientation="horizontal" class="blank">
         <Label  class="far h2 fa-check-circle check" text ="&#xf058;"> </Label>
         <Label  class="name" text="결제 정보 관리"></Label>
      </StackLayout>
      <Label class="empty2"></Label>

      <StackLayout orientation="horizontal" class="blank">
         <Label  class="far h2 fa-check-circle check" text ="&#xf058;"> </Label>
         <Label  class="name" text="고객 센터 연락"></Label>
      </StackLayout>


   </StackLayout>
   <StackLayout class="st" dock="bottom"></StackLayout>



</DockLayout>
