
.btnav{
    background-color: darkkhaki;
}


.rank{
    height: 130;
    border-radius: 5;

}
.title{

    margin-top: 9;
    height: 25;

    font-size: 17;
    font-weight: bold;
    line-height:12;
    text-align :center;
    font-family:NotoSansCJKkr-Medium;
    color: #333333;


}

.card{
    margin-bottom:15;
}

.site{
    size:12;
    font-family:Helvetica;
    line-height:12;
    color: #4D4D4D;

}

.lecName{
    font-family: NotoSansCJKkr-Medium;
    font-size: 10;
    line-height: 12;
    color: #4D4D4D;

}

.searchBt{
    width: 344;
    height: 35;
    font-size: 8;
    color: #34353a;
    border-radius: 80;
    outline-color: #34353a;
    border-width: 1;
    text-align: center;
    text-align-all: center;
    margin-top: -5;
    margin-bottom: 30;

}

.underline{
    color: #f3f5f9;
    margin-top: 15;
    height: 0.1;
    width: 100%;
}

.text{
    width: 224;
    height: 48;
    font-size: 16;
    color: #34353a;
    text-align: center;
    margin-top: 25.3;
}

.btn{
    margin-left: 21;
    margin-right: 21;
    height: 40;
    color: #fc8f41;
    border-color: #fc8f41;
    text-align: center;
    border-width: 1;
    border-radius: 3;
    margin-top: 12;
    font-size: 16;
}

.empty{
    margin-top: 23;
    background-color: #f3f5f9;
    height: 8;
}
