
.complete{
    height: 45;
    background-color: #1c7ced;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 16;
    margin-left: 15;
    margin-right: 15;
    border-radius: 3;
    z-index: 0;
    margin-bottom: 20;

}


.blue{
    border-radius: 5;
    width: 30;
    height: 9;
    margin-right: 4;
    background-color: #1c7ced;
}



.page{
    margin-right:153;
    margin-left: 153;
    margin-top:21;
    margin-bottom:21;
}
.check{
    text-align: center;
    font-size: 80%;
    border-radius: 33;
    margin-top: 136;
    color: #38c976;
}

.logo{
    text-align: center;
    width:176;
    height:37;
    margin-top: 36;
}

.nickname{
    font-size: 24;
    font-weight: bold;
}

.greeting{
    width: 100%;
    font-size: 24;
    text-align: center;
    font-weight: bold;
}

.block{
    margin-top: 45;
    text-align: center;
}

.congratz{
    margin-top: 21;
    text-align: center;
    width: 250;
    height: 80;
    font-size: 17;
    font-family: NotoSansCJKkr-Regular;
    letter-spacing: 0.05;
    text-space: 1;
}

