<Docklayout>
    <Button dock="Bottom" (tap)="move()" class="complete" text="메인 화면으로 이동하기"></Button>

    <StackLayout dock="Top">


        <Label  class="far fa-check-circle fa-10x check" text="&#xf058;"> </Label>
        <Image class="logo" src="res://codeing" stretch="aspectFill"></Image>

        <Stacklayout orientation="horizontal" class="block">
            <Label class="greeting" text="프로필 설정 완료"></Label>

        </Stacklayout>

        <Label class="congratz" textWrap="true" text="프로필 설정이 완료되었습니다! 회원님의 관심 분야에 맞는 맞춤 강의를 추천받으실 수 있습니다."></Label>



    </StackLayout>


</Docklayout>



