<GridLayout rows="*">
    <RadSideDrawer drawerLocation="Bottom" drawerContentSize="756"  >
        <DockLayout  class="outerDock" tkDrawerContent stretchLastChild="false" >
            <GridLayout class="drawerBottom" columns="2*,3*" rows="100" dock="bottom">
                <Label class="redoChoose" (tap)="redo()" row="0" col="0" text="필터 초기화"></Label>
                <Label class="completeChoose" (tap)="complete()" row="0" col="1" text="선택 완료" ></Label>
            </GridLayout>
            <StackLayout orientation="vertical" dock="Top">


                <Label class="title-top" text="프로그램 랭킹 검색 필터"></Label>

                <Label class="category" text="카테고리"></Label>


                <WrapLayout class="wrap" orientation="horizontal">
                    <Label  *ngFor="let category of categoryList" [text]="category" (tap)="changeHighlight(categoryList.indexOf(category))"
                            class="w" [ngClass]="{'clicked': state[categoryList.indexOf(category)] == true, 'category-list': state[categoryList.indexOf(category)] != true}"></Label >

                </WrapLayout>

                <Label class="category2" text="세부 카테고리"></Label>

               <ScrollView orientation="vertical">
                <WrapLayout class="wrap"  orientation="horizontal" >
                    <Label  *ngFor="let subcategory of subcategoryList" [text]="subcategory['subcategoryName']" (tap)="changeHighlight2(subcategoryList.indexOf(subcategory))"
                            class="w" [ngClass]="{'clicked': state2[subcategoryList.indexOf(subcategory)] == true, 'category-list': state2[subcategoryList.indexOf(subcategory)] != true}"></Label >
                </WrapLayout>
                   </ScrollView>
            </StackLayout>

        </DockLayout>

        <DockLayout tkMainContent stretchLastChild="true">
            <GridLayout class="btnav" columns="*,*,*,*,*" rows="52" dock="Bottom">
                <Label [nsRouterLink]="['/lectures']" pageTransition="none" row="0" col="0" text="홈"></Label>
                <Label [nsRouterLink]="['/ranking']" pageTransition="none" row="0" col="1" text="랭킹"></Label>
                <Label [nsRouterLink]="['/recommend']" pageTransition="none" row="0" col="2" text="추천"></Label>
                <Label [nsRouterLink]="['/class']" pageTransition="none" row="0" col="3" text="클래스"></Label>
                <Label [nsRouterLink]="['/my-page']" pageTransition="none" row="0" col="4" text="마이페이지"></Label>
            </GridLayout>
            <GridLayout class="search-set" columns="40, *, 40", rows="40" dock="Top">
                <Label row="0" col="0" class="fas h3 searchIcon" text ="&#xf002;"> </Label>
                <TextField class="searchbar"  style.placeholderColor="#A6A6A6" row="0" col="1" hint="검색" returnKeyType="go" (returnPress)="performSearch()" [(ngModel)]="searchword"></TextField>
                <Label row="0" col="2" class="fas h3 searchIcon" text ="&#xf0b0;" (tap)="onOpenDrawerTap()"> </Label>
            </GridLayout>

            <GridLayout class="top" columns="40, *, 40", rows="40" dock="Top">
                <Label  row="0" col="0"></Label>
                <Label class="searchword"  row="0" col="1" [text]="title"></Label>

            </GridLayout>

            <ListView dock=Top [items]="lectures" (itemTap)="onItemTap($event)"  (loadMoreItems)="loadMoreItems()">
                <ng-template let-item="item" let-i="index">
                    <StackLayout [nsRouterLink]="['/lecture',item['lectureIdx']]" class="outer-stack">
                        <Image class="rank" [src]="item['thumbUrl']" stretch="aspectFill"></Image>
                        <StackLayout orientation="vertical">
                            <StackLayout class="up" orientation="horizontal">
                                <Label class="circle-small" ></Label>
                                <Label class="rank-small" [text]="i+1"></Label>
                                <Label class="siteName" [text]= "item['siteName']"></Label>
                            </StackLayout>
                            <Label class="lecName" [text]= "item['lectureName']"></Label>
                            <DockLayout>
                                <Label dock="right" class="price" [text] ="item['price']"></Label>
                                <StakLayout>
                                    <Label class="lecturer" [text]= "item['professor']"></Label>
                                    <StackLayout dock="left" orientation="horizontal" >
                                        <Label class="rating-text" [text]= "item['rating']"></Label>
                                        <Label *ngFor="let rate of [1,2,3,4,5]" class="fas" text ="&#xf005;" [ngClass]="{'yellow': item['rating'] > rate, 'default': item['rating'] <= rate}"> </Label>
                                    </StackLayout>
                                </StakLayout>

                            </DockLayout>

                        </StackLayout>

                    </StackLayout>
                </ng-template>
            </ListView>

        </DockLayout>

    </RadSideDrawer>
</GridLayout>






